body {
    background-color: black;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden; /* Esto evita el overscroll horizontal */

 }
 
 
 .header-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
 }
 
 
 h1 {
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 100%;
 
 
    animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    z-index: 999;
 }
 
 
 section.img {
    columns: 2;
    padding: 16px 36px;
    column-gap: 32px;
    margin-top: 70px;
 
 
 }
 
 
 section.img img {
    border-radius: 4px;
    width: 100%;
    height: auto;
    margin-bottom: 32px;
 
 
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 15%;
 }

 
 
 
 @keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.5);
    }
 
    50% {
        opacity: 0.5;
        transform: translateY(12.5px) scale(0.875);
    }
 
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
 }

 
 
 @keyframes enhance-header {
    to {
        background-color: rgba(63, 33, 199, 0.436);
        backdrop-filter: blur(5px);
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
 }
 
 
 
 
 